<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OOPS</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Oh No!! An error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>
