<div class="jumbotron">
    <h1>Ticket Vista</h1>
    <p class="lead">Cody Betzer's TicketVista Evaluation</p>
    <p><a href="/DT_Conv/Convert" class="btn btn-primary btn-lg">View Assessment &raquo;</a></p>
</div>
<div class="row">

    <div class="text-center">
        <h1> Cody J. Betzer </h1>
        <h3>
            Tucson Residence: <br />
            3860 W El Camino Del Cerro<br />
            Tucson, AZ 85745<br />
            <br />
            Phoenix Residence:<br />
            17816 N 41st Ave<br />
            Glendale, AZ 85308<br /> <br />
            cody.salazar.betzer@gmail.com<br /> <br />
            520.273.0978<br />
        </h3>
    </div>

    <h2>Overview</h2>
    <br />
    <br />
    I am a driven and self-motivating software engineer with exceptional leadership skills, I.T. project management experience and a strong knowledge of negotiation and business operations. I am a seasoned windows systems and server administrator, and a talented Photoshop / Autodesk 3DSMAX CGI artist and animator, making me “full stack” in most cases, able to develop breathtaking applications from service to UI seamlessly. I excel in areas such as UI / UX development, website and web application development, data modelling and gamification. I am capable utilizing various programming languages for extended user interfacing and operability, including: C# .Net, C++, JavaScript, VB.Net, MSSQL and SQF/SQS. I am skilled and familiar with the following Libraries & Frameworks: .NET 3.5 to 4.6.1, MVC, Bootstrap, JQuery, DirectX, and PhysX. As a game developer, I have worked extensively inside the Virtual Battlespace Engine (Army Games for Training / ArmA3) and enjoy a working relationship with Bohemia Interactive Simulations. Additionally, I have worked extensively inside of CryEngine, and briefly with Unity and Unreal engines.

    <br /> <br />
    <h2> Executive Summary: </h2> <br />
    <br />
    ●   Designed and programmed complete browser based data management solutions for multiple clients in Bootstrap / HTML5 / JS / .NET (C#) / MSSQL (MVC, Web Forms, SharePoint). Primarily used GitHub as a repository / tracker. Visual Studio 2012, 2013, 2015 as a development environment, also utilized notepad ++ when convenient. <br />
    <br />
    ●   Primarily used GitHub as a repository / tracker. Also familiar with Microsoft Azure Project, SharePoint Project and Microsoft Project Server Configurations, as well as Trello. Visual Studio 2012, 2013, 2015 as a development environment, also utilized notepad ++ when convenient<br />
    <br />
    ●	Engineered and developed various document management systems and geospatial databases in VB.NET, C#, .Net 3.5+ and MSSQL. Planned, programmed and deployed various Microsoft SQL Server instances still in use to this day.<br />
    <br />
    ●	Solely responsible for the deployment, configuration and maintenance of various Microsoft Enterprise business configurations. Master of OAuth server-to-server configurations such as Exchange+Skype for business+Sharepoint+OneNote+MSSQL2016. Extensive SharePoint deployment and migration experience. <br />
    <br />
    ●	Utilized SharePoint Designer and Visual Studio to customize SharePoint for users, producing countless forms with various levels of customized functionality, including JQuery, CSS, and third party plugins to change the look and operation of them.
    <br />
    <br /> <br /> <br />






    <h4> Sierra Bravo Technologies / Desert Rain Interactive, 2011- 2015 </h4>
    <strong>Owner / Systems Administrator / Programmer and Independent Game Developer</strong><br />
    <br />
    •	<strong>Web Application / Software Developer / Software Engineer: </strong> <br />
    Designed and produced complete browser based data management solutions for multiple clients, primarily in Bootstrap / HTML5 / JS / .NET (C#) / MSSQL (MVC, Web Forms, SharePoint). Primarily used GitHub as a repository / tracker. Visual Studio 2012, 2013, 2015 as a development environment, also utilized notepad ++ when convenient. NetBeans was utilized on occasion.<br /> <br />
    •	<strong> SharePoint Administrator:</strong><br />
    Consulted with multiple energy industry clients on the deployment and use of Microsoft SharePoint Solutions, designed said solutions and deployed them for the client. These solutions ranged from basic, standard deployments utilizing the “Team Site” template to completely customized solutions utilizing .NET applications and web form document / database management solutions made responsive with bootstrap. I have configured both farms and standalone deployments, integrated Microsoft 365 Office Online solutions, and of course, created an endless catalog of scheduled events and workflows. In all cases, I was also responsible for the extended requirements of deployment, including AD integration, security and rights management, IIS configuration, application service management, etc. I commonly utilize SharePoint Designer and Visual Studio 2015 to develop and interact with my SP deployments. <br /> <br />
    •	<strong> SharePoint Developer</strong><br />
    On numerous occasions, I utilized SharePoint Designer and Visual Studio to customize SharePoint for users, producing countless forms with various levels of customized functionality, including JQuery, CSS, and third party plugins to change the look and operation of them.<br /> <br />
    •	<strong> Business Consultant / Configuration Management / Microsoft Partner:</strong><br />
    Consulted for multi-million dollar corporations on all matters information technology related, often resulting in notable increases in productivity, savings and / or profits based on my recommendations and performances utilizing the Microsoft Business Productivity Suite. Typically answered 2-3 “random” questions a day, satisfying company owners with my wide knowledge and advanced level of expertise in a great deal of I.T. related subjects. <br /> <br />
    •	<strong> Geospatial Data Engineer:</strong><br />
    Designed, programmed, tested and released multiple “Virtual Construction Site” projects for oil and gas companies utilizing ESRI ArcMap, Google Sketch Up, Autodesk 3DSMAX and Google Earth Pro.   <br /> <br />
    •	<strong> General Web Application Developer:</strong><br />
    Designed, deployed and hosted various websites of various degrees of functionality, primarily in the nature of general asp.net / C# and MS Azure deployments. Other languages / services regularly used: JavaScript, PHP, SQL, Oracle.<br /> <br />

    •<strong> 	General Web Application Developer:</strong> <br />
    Designed, deployed and hosted various websites of various degrees of functionality, primarily in the nature of general HTML, MVC, Web Forms and SharePoint deployments. Other languages / services regularly used: JavaScript, PHP, MSSQL.
    <br /> <br />
    •	<strong> General .net / C# Programmer</strong><br />
    Developed several windows forms / MSSQL configuration applications in .net / c# doing many different things, for example: UI capable of: posting data to MSSQL directly, querying back to fields and tables, sending queries to XML based systems (switchvox phone systems) and returning results to an excel spreadsheet via DataStream output to simple text file with self-cleanup, and many other similar nature operations. I have also worked with mobile applications and database integration with 3rd party mobile application developers such as Codereadr for ERP / barcode based solutions. I have limited experience with Microsoft Dynamics GP and CRM solutions, and worked with visual basic to accomplish various data retrieval related goals.<br /> <br />

    •	<strong> Microsoft Business Solution Deployment</strong><br />
    Solely responsible for the deployment, configuration and maintenance of various Microsoft Enterprise business configurations. Master of OAuth server-to-server configurations such as Exchange+Skype for business+Sharepoint+OneNote+MSSQL2016. Full deployment and configuration experience. Extensive SharePoint deployment and migration experience, all 2014 / 2016 versions.  <br /> <br />



    <h4> War Chronicles, Inc. | WWII Historical Mil-Sim Dev Team, 2014 - 2015</h4>
    Core Developer / SharePoint Administrator / GitHub Administrator/ Graphical Artist / Video Content Editor<br /> <br />
    ●	<strong> Core Developer:</strong><br />
    Virtually and remotely collaborated with 20 international team members on a military simulation modification as a core developer, configuring 3D assets for use in the Virtual Battlespace 3 engine. Primarily, this configuration was done in C++, with SQF sub scripting. Regularly participate in testing, QA and “bug fix sessions” readying content for public release / distribution. Adhered to deadlines and workflows, keeping the team lead well informed of progress, obstacles, providing ideas for solutions to said obstacles, and consultation on technical aspects of other’s ideas.<br /> <br />

    ●	<strong> SharePoint Administrator:</strong><br />
    Deployed, Configured, Designed, and maintained the team’s SharePoint 2013 site, used for task and asset management. Deployed various workflows for the team lead for the purposes of task management assistance. Deployed mobile version of site.<br /> <br />

    ●	<strong> GitHub Administrator:</strong><br />
    Served as an administrator on the team for GitHub, and regularly produced data models and progress reports for the team.
    <br /> <br />
    ●	<strong> Graphical Artist:</strong><br />
    Created several 3D assets for the project in Autodesk 3DSMAX, also created HD textures in Photoshop CC.
    <br />
    <br />
    ●	<strong> Video Content Editor:</strong><br />
    Regularly digitally filmed, composed, scored, edited and produced short “teaser” films for the team. High rate of acceptance in the general community.
    <br />
    <br />
    •	<strong> Military Simulation Server Host:</strong><br />
    Designed, deployed, hosted and administered ARMA 3 / Virtual Battlefield Simulator server network. Maintained high availability for various clients, assisted with modifications, network optimization per locale, and security.<br />
    <br />
    •	<strong> Indie Game Developer / Modder:</strong><br />
    Utilizing C++, SQF, ASP.NET, C#, JavaScript and Steam Script; Designed, programmed, tested and released episodes 1-4 of the “Murphy’s Law” ARMA 3 community SP campaign. Designed, programmed, tested and released many notable ARMA 3 MP Episodes: “A3M PMC Sandbox”, “Operation Stratis Gold”, “Imperialist Dictator”, “TMN Occupation Redux”, "Assaultis", "Assaultis 2", "TMN Eradication CTI" and various other lesser known scenarios. Current player-base in the tens of thousands.<br /> <br />
    •	<strong> 3D Artist, Graphic Artist, and Animator:</strong><br />
    Designed and created various CGI animations and assets for community modifications in Autodesk 3DSMAX and Photoshop CC, and worked extensively inside PhysX to create in-game assets in CryEngine and BIS RV Engine 3.<br /> <br />
    •	<strong> Civilian / Military Liaison, Lead Developer:</strong><br />
    Designed and Developed Content and Protocols for “Project Charlie Mike”, a Non-Profit Organization dedicated to providing group support and highly accessible, private immersion therapy via Multiplayer Military Simulation using the Virtual Battlespace Simulator (U.S. Army Games for Training, U.S. Marine Corps Virtual Training) to active duty and prior service veterans of the Armed Forces suffering from PTSD or Post Enlistment Syndrome. PCM serves as an alternative to VA supervised Immersion Therapy Sessions, and provides a group therapy element accessible from anywhere, 24/7.<br /> <br />
    •	<strong> Video Editor / Sound Engineer:</strong><br />
    Using PowerDirector14, HD Video Cameras, and animation technology, engineered, assembled, edited and produced various commercial video productions for commercial purposes as well as indie game endeavors.<br /> <br />
    <br /> <br />

    <h4>  Striker Land Services of Texas, 2009-2011</h4>
    <strong>  Lead IT Administrator / Lead Software Developer / Lead Database Administrator</strong><br /> <br />
    •	<strong> Lead IT Administrator:</strong><br />
    Directly supervising a 5 man I.T. Team, and indirectly supervising the remainder of the company on behalf of I.T. (185 agents with individually owned laptops, plus 10 administrative staff with both personal laptops and company computers.)<br /> <br />
    •	<strong> Consultation / Configuration Management:</strong><br />
    Responsible for ITIL definition subjects such as overall network performance, high availability and redundancy / emergency recovery and management. During my tenor at nearly every energy company on my resume, I have been responsible for all aspects of server and network maintenance and availability. This included configuration of failover clustering, redundant network structure, and emergency incident management. I was also responsible for other ITIL related definitions of the subject, such as best practice consultation and business / I.T. Alignment, hardware investment advice and software investment advice alike. I directly advised company owners on the direction of the technology side of their business, successfully implementing various works of Intellectual Property and supplementing overall growth over 200%.<br /> <br />
    •	<strong> Lead Software Developer / Database Engineer:</strong><br />
    Engineered and developed various document management systems and geospatial databases in Visual Basic and VB.NET, C#, Asp.Net 3.5, MSSQL and Oracle. Planned, programmed and deployed various Microsoft SQL Server instances still in use to this day.<br /> <br />
    •	<strong>Systems Security Management: </strong><br />
    Monitored security logs on a daily basis, reported productivity of contractors based on access logs and entries posted, monitored all network traffic and actively remedied problems, often before they interrupted the network. Organized a virus profile team responsible for identifying and documenting viruses and breaches on our network, including how to remedy them.<br /> <br />
    •	<strong> Network engineering:</strong><br />
    Upon office relocation, was responsible for taking down, relocating, and re-deploying our data, print and server infrastructure as well as engineering and reconstructing the entire network infrastructure at the new location, including switches, external VPN firewalls, routers, cisco systems and more. Configured and maintained a Virtual Private Network environment allowing for remote access to the document management system.<br /> <br />
    •	<strong> Floor I.T. / Troubleshooting:</strong><br />
    Performed a full range of IT Troubleshooting and computer repair duties with my team, running into an extremely wide range of issues with almost every OS from present to legacy versions.<br /> <br />
    •	<strong> Web Development:</strong><br />
    Designed and maintained company website. Website was HTML5 / JS / MYSQL in nature.<br /> <br />
    •	<strong> Title Researcher / Jr. Paralegal:</strong><br />
    On rare occasion, was required to double up workload with some title research duties. Performed flawlessly, transitioning from I.T. Admin to Title Researcher as needed.<br /> <br />
    <br />
    <h4> TRC Solutions, 2008-2009</h4>
    <strong> Right of Way Agent / Title Researcher</strong><br /><br /> 
    •	<strong> Negotiations, General Business:</strong><br />
    Worked as a right of way agent for TRC Solutions, negotiating land purchases for a natural gas pipeline.<br /> <br />
    •	<strong> Paralegal, Legal Document Research:</strong><br />
    Performed title research on all assigned tracts and parcels, obtaining my own documents prior to negotiation with landowners.<br /> <br />
    •	<strong>GIS Analyst / Mapping Specialist </strong><br />
    Responsible for generating maps in ARCGIS ArcMap and Google Earth Pro, and generated all project maps used in the acquisition of land for the NGL.<br /> <br />
    •	<strong> GIS Web Application Developer</strong><br />
    Responsible for developing a method of showing the map information I developed to superiors, clients and legal personnel, and did so using the .net framework in VB and the google earth API.<br /> <br />
    <br />
    <h4>  Texas Right of Way Associates, 2007-2008</h4>
    <strong> IT Administrator</strong> <br /> <br /> 
    •	<strong> Floor I.T. / Troubleshooting:</strong><br />
    Worked directly under CEO to supervise field agents from an IT Standpoint. Performed a full range of troubleshooting duties as the sole IT Technician. Provided all levels of troubleshooting on both Apple and Windows 7 / Vista / XP systems, and Windows server 2008 R2 connectivity / file share troubleshooting.<br /> <br />
    •	<strong> Network Engineering:</strong><br />
    Designed, Deployed and maintained a basic multi-office network.<br /> <br />
    •	<strong> Database Development:</strong><br />
    Created mini-database for document and information management in Microsoft Access utilizing Visual Basic 6 with limited direction for development. Worked alone to create the product, and did so in a timely fashion.<br /> <br />

    <h4>NLS, 2006-2007</h4>
    <strong> Right of Way Agent / Title Researcher</strong> <br /> <br /> 
    •	<strong> Negotiations, General Business:</strong><br />
    Worked as a right of way agent for NLS, negotiating land purchases for a natural gas pipeline.<br />
    •	<strong> Paralegal, Legal Document Research:</strong><br />
    Performed title research on all assigned tracts and parcels, obtaining my own documents prior to negotiation with landowners.<br /> <br />
    <br />
    <h4> Contract Land Staff, 2004-2006</h4>
    <strong> Document Control Manager, Jr. Programmer / Jr. I.T. Tech</strong> <br /><br />
    •	<strong> Data Entry Specialist:</strong><br />
    Performed basic Data Administration Duties such as Data Entry.<br />
    •	<strong> On-The-Job Training:</strong><br />
    Tutored by and learned from the Vice President of Information Technology, Leon Law (Creator of the Power Trak Database, CLSLINK and GIS viewer software.) - Was allowed to assist in very minor development and beta testing roles in Mr. Law's program, including basic table creation, modification, deletion, and general database management (basic concepts such as scheduled backups, clustering and clustered environments, failover, emergency / disaster management concepts.)<br /> <br />
    •	<strong> Jr. Troubleshooter:</strong><br />
    Utilized as a troubleshooter for co-workers after obtaining elevated knowledge of program.<br /> <br />
    •	<strong> Jr. Network Engineer:</strong><br />
    Learned and applied skills related to networking, including switching, firewall application and configuration (including cisco), stringing cat5e cable, and wireless internet configuration, troubleshooting and security.<br /> <br />
    •	<strong> Jr. Server Administrator:</strong><br />
    Learned server administration in an active user environment, as well as basic database and network management skills. Server and network security skills were emphasized.<br /> <br />
    <br />
    <strong> Certifications:</strong><br />
    <br />
    Microsoft Certified Professional<br />
    Valid Until: 2/29/2017<br />
    MCP ID: 2096840<br />
    Microsoft Partner<br />
    Valid Until: 2/23/2017<br />
    Organization ID: 3961477<br />
    <br />
    <strong> Education:</strong>
    <br /> <br />
    Hill College - Houston, TX<br />
    2007-2009<br />
    Major: Computer Sciences<br />
    GPA 3.21<br />
    <br />
    Alvin Community College - Alvin, TX<br />
    2005-2006<br />
    Major: Computer Sciences<br />
    GPA 2.26<br />
    <br />
    Friendswood Christian Academy – Friendswood, TX<br />
    Graduated in 2004<br />
    AP Classes:<br />
    Social Studies / History<br />
    English<br />
    Science<br />
    <br />
    <br />


    <strong> Other Notable Attributes</strong><br /> 
    "Game Hacker", Beta Tester, Self Employed<br /> <br /> 
    •	<strong> Game Modification / Hacking:</strong><br />
    "Game Hacker" - Self-taught basic game programming, learned to alter various PC based games' code to allow for "cheat" effects such as infinite ammo, "god mode" etc.  Was involved in the release of a few “trainers” in about 2000 -  2002<br /><br />
    •	<strong>Red Storm Entertainment – Volunteer Beta Tester</strong><br />
    Beta tested various video games from independent designers, and learned the process of beta testing and glitch hunting.<br /><br />
    •	<strong>Neighborhood Nerd</strong><br />
    Sold basic repair services such as windows re-installs, virus removals, etc. on a freelance basis. Performed website development services utilizing HTML and various scripts. A lot of people utilized my talents as I did this for free while learning.<br /><br />
    •	<strong>Hardware Buff</strong><br />
    Engaged in building "super computers" as a hobby, with configurations differing based on pre-determined plans of usage for computers. Designed gaming, data-basing and server systems, as well as one "DJ" music-playing system. All of these computers are still in use to this day.<br /><br />
    •	<strong>Sound Engineer</strong><br />
    Engaged in the technical improvement of local DJs, learning audio and amplifier technologies, as well as sound system basics such as acoustics, and learned audio software such as fruity loops, protunes, garage band, and more.<br /><br />
    •	<strong>Record Label Technical Advisor</strong><br />
    Engaged in the technical improvement of local musicians, including music video production, editing, scoring, lighting, camera operations, and lip-syncing and green screen operations. Engaged in the technical support and troubleshooting of live musical performances, reacting in real time to high pressure live audio and technical errors and delivering glitch free performance in most cases.<br /><br />

</div>
